.outCircle {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  left: 270px;
  position: absolute;
  top: 50px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border-radius: 100px;
}

.duringTwentyOne {
  animation-duration: 21s;
}

.duringTen {
  animation-duration: 10s;
}

.duringFour {
  animation-duration: 4s;
}

.infinite {
  animation-iteration-count: infinite;
}

.linear {
  animation-timing-function: linear;
}

.counter {
  width: 50px;
  height: 50px;
  animation-duration: inherit;
  animation-direction: reverse;
  animation-timing-function: inherit;
  animation-iteration-count: inherit;
  animation-name: inherit;
}

.rotate {
  width: 100%;
  height: 100%;
  animation-name: circle;
  position: relative;
  z-index: 10;
  display: block;
}

.second {
  top: -100%;
}

.thirdBigger {
  top: -240%;
  left: -40%;
  width: 150%;
  height: 150%;
}

.inner {
  width: 100px;
  height: 100px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border-radius: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: red;
  display: block;
}

.red {
  background: red;
}
.blue {
  background-color: aquamarine;
}
.green {
  background: green;
}

@keyframes circle {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
